.frameContainer md-whiteframe {
    background: red;
    margin: 30px;
    height: 100px;
}

row {
    border-bottom: 1pt solid gray;
}

#afterSignIn {
    display: "none";
    background-color: red;
}